.container {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.searchbox {
  position: relative;
  width: fit-content;
}

.searchbar {
  height: 40px;
  border-radius: 40px;
  border: none;
  padding: 0 10px 0 40px;
  background-color: #ffffff;
  font-size: 1.2rem;
  font-weight: 500;
  color: black;
  width: 250px;
  margin-left: 20px;
}

.searchbar:focus {
  outline: none;
}
.searchbar::placeholder {
  color: black;
}

.icon {
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  color: black;
  pointer-events: none;
}

.button {
  border-radius: 10px;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  background-color: rgb(251, 188, 61);
  cursor: pointer;
}
.button:focus {
  outline: none;
}
@media (max-width: 640px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .searchbar {
    width: 100%;
    margin-left: 0;
    text-align: center;
  }

  .searchbox {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .icon {
    left: 20px;
  }

  .button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
  }
}

@media (min-width: 641px) and (max-width: 1023px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .searchbar {
    width: 250px;
    margin-left: 0;
  }

  .searchbox {
    width: fit-content;
  }

  .icon {
    left: 20px;
  }

  .button {
    width: auto;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
  }
}
