.searchbar {
  display: flex;
  flex-direction: row;
  gap: 4;
  height: 30px;
  border-radius: 40px;
  border: none;
  padding: 10px;
  background-color: #e2e8f0;
  font-size: 1.5rem;
  font-weight: 600;
  color: black;
}

.searchbar:focus {
  border: none;
}

.searchbox {
  display: flex;
  flex-direction: row;
  place-items: center;
  position: relative;
  border: 1px soild #e2e8f0;
}

.icon {
  width: 20px;
  height: 20px;
  color: black;
}
